body{
    font-family: arial;
}

.main{
    width: 325px;
    height: 140px;
    padding: 15px 15px 15px 15px;
    background: linear-gradient(-45deg, red 25%, white 0, white 50%, red 0, red 75%, white 0);
    background-size: 50px 50px;
}
.second{
    width: 305px;
    height: 120px;
    background-color: white;
    padding: 10px;
    vertical-align: middle;
}
p{
    text-align: left;
    font-size: 14pt;
    margin: 0;
}