body{
    font-family: arial;
}

.main{
    width: 230px;
    height: 140px;
    padding: 10px 10px 10px 10px;
    background-color: #665555;
}
.second{
    width: 210px;
    height: 120px;
    background-color: #d2b48c;
    padding: 10px;
    border-radius: 20px;
    vertical-align: middle;
}
p{
    text-align: left;
    font-size: 14pt;
    margin: 0;
    padding: 14px;
}